# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Node (seguridad extra, cada subproyecto tiene su propio .gitignore)
node_modules/

# Entornos y secretos
.env
.env.local
*.pem

# Bases de datos locales
*.db
*.db-journal
*.sqlite

# Builds
dist/
build/
.expo/
